$navigationToggle--minWidth: 768px;

:root {
    --font-family: 'Inter', sans-serif;
    // Spacing
    --spacing: 1rem;
    --spacing--half: calc(var(--spacing) / 2);
    --spacing--double: calc(var(--spacing) * 2);
    --spacing--quarter: calc(var(--spacing) / 4);
    // Font Size
    --font-size: 1rem;
    --font-size--small: calc(var(--font-size) * 0.875);
    --font-size--large: calc(var(--font-size) * 1.25);
    // Colors
    --navigation--menu-background--open: #161616;
    --site--header-background: #121212;
    --site--content-background: #0e0e0e;
    --color--primary: #e3721b;
    // Miscellaneous
    --border: 2px solid #373737;
    --content-border-radius: 10px;
    --navigation-item-border-radius: 25px;
    --transition: all 0.2s ease-in-out;
}
